    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Rendez-Vous le 6 Octobre 2018</h2>
              <br/>
                Nous vous attendons à 14h à Ozoir la Ferrière pour les cérémonies civile et religieuse.<br/>
                Puis la soirée se poursuivra à la Châblerie :
                <br/>
                <br/>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2630.061962374832!2d2.669811215897518!3d48.761613015469585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e606985bd3a6e1%3A0x7b113febc448bee!2sMairie+d&#39;Ozoir-la-Ferri%C3%A8re!5e0!3m2!1sfr!2sfr!4v1516560236751" width="370" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1314.6337578991008!2d3.1602225289680828!3d48.77678286672216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x724fc230a5ff94c0!2sLa+Chablerie!5e0!3m2!1sfr!2sfr!4v1516561507320" width="370" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
                <br/>
            </div>
        </div>
    </section>
