    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 intro">
              <br/><br/>
                <h4>Nous avons la joie de vous faire part de notre mariage.<br/>
                Il sera célébré le samedi 6 octobre 2018 à Ozoir-la-Ferrière.<br/>
                Nous comptons sur vous pour venir partager ce moment de bonheur avec nous.</h4>
                <br/>
                <br/>
                <h4>Info stationnement:<br/>
                L'église étant située à proximité de la mairie, nous vous conseillons de vous garer sur le <a href="https://goo.gl/maps/GFXPQQKaSFz">parking de la mairie</a> pour toute l'après-midi.<br/>
                Si les places n'y sont pas suffisantes, les parkings les plus proches sont ceux <a href="https://goo.gl/maps/EfAdz4Rvtmv">de l'église</a> et du <a href="https://goo.gl/maps/3nkgJcceSy72">cinéma</a></h4>
            </div>
        </div>
    </section>
