    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 intro">
              <br/><br/>
                <h4>Nous avons la joie de vous faire part de notre mariage.<br/>
                Il sera célébré le samedi 6 octobre 2018 à Ozoir-la-Ferrière.<br/>
                Nous comptons sur vous pour partager ce moment de bonheur avec nous.</h4>
                <br/>
                <br/>
            </div>
        </div>
    </section>
