<section id="rsvp">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-4">
					<h2>Votre réponse :</h2>
				</div>
				<div class="col-lg-8">
						<label for="uname">Dîtes nous si vous venez et combien vous serez :</label>
						<br/><br/>
						<form action="https://formspree.io/geoffreyetanais+rsvp@gmail.com" method="POST" class="form-inline">
							<input type="text" name="name" style="color: teal;" placeholder="Nom" class="col-sm-5" required>
							<br/><br/>
							<input type="email" name="email" style="color: teal;" class="pagination-centered col-sm-5" placeholder="E-mail" required>
							<br/><br/>
							<input type="text" name="number" style="color: teal;" class="col-sm-5 pagination-centered" placeholder="Nb de personnes (dont enfants)" required>
							<br/><br/>
							<input type="submit" value="Envoyer" style="color: cornflowerblue;" class="btn">
						</form>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->