<section id="rsvp">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>Votre réponse :</h2>
				</div>
				<div class="col-lg-6">
						<label for="uname">Dîtes nous si vous venez et combien vous serez :</label>
						<form action="https://formspree.io/geoffreyetanais+rsvp@gmail.com" method="POST">
							<input type="text" name="name" style="color: teal;" placeholder="Nom" required>
							<br/>
						<input type="email" name="email" style="color: teal;" placeholder="E-mail" required>
						<br/>
						<input type="text" name="number" style="color: teal;" placeholder="Nb de personnes (dont enfants)" required>
						<br/>
						<input type="submit" value="Envoyer" style="color: teal;">
						</form>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->